# Temp files
.DS_Store
*~
buck-out/

# Agents
.gemini/
GEMINI.md

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/

# docs
/docs/generated/
/docs/_build/
.worktrees/

#data
./assets

*.meme
assets/motif_database/cisbp_human.meme
assets/motif_database/cisbp_tf_list.txt
